@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply w-52 h-72 lg:w-64 lg:h-80 shadow-md rounded-lg flex-none transform transition-all hover:-translate-y-4 hover:shadow-xl;
}

.card__cover {
  @apply w-full h-3/5 bg-cover rounded-t-lg;
}

.card__info {
  @apply w-full h-2/5 bg-secondary rounded-b-lg;
}

.info__title {
  @apply text-white font-bold text-lg px-4 py-1 pt-3;
}

.info__description {
  @apply text-white text-sm px-4;
}

.card:nth-child(even) .card__info {
  @apply bg-white;
}
.card:nth-child(even) .info__title,
.card:nth-child(even) .info__description {
  @apply text-tertiary;
}

.stays__card__title {
  @apply text-2xl px-6 pb-1 font-semibold text-white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
